<section class="vh-100" #specificDivId style="margin-top: -120px;font-size: large;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img class="close-button" src="/assets/ChatGPT Image 3 avr. 2025, 23_14_59.png" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form [formGroup]="signinForm">

                                    <div style="margin-bottom: 40px;">


                                        <span class="h1 fw-bold mb-0">Servitia</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><B>Connectez-vous à
                                            votre compte</B></h5>
                                    <label class="form-label" for="form2Example17">Adresse mail</label>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="prenom" id="form2Example27" formControlName="email"
                                            class="form-control form-control-lg" placeholder="user@examle.com" />

                                    </div>
                                    <label class="form-label" for="form2Example27">Mot de passe</label>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="form2Example27" class="form-control form-control-lg"
                                            placeholder="Mot de passe" formControlName="password" />

                                    </div>
                                    <div class="col-lg-4 my-3 my-lg-0" style="margin-left: 200px;">
                                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Google"><i
                                                class="fab fa-google"></i></a>
                                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                                                class="fab fa-facebook-f"></i></a>
                                        <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                          class="fab fa-linkedin-in"></i></a> -->
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-dark btn-lg btn-block" type="button"
                                            (click)="login()">Connexion</button>
                                    </div>

                                    <div class="nav-link" (click)="gotosig()">
                                        <h6> Vous n'avez pas de compte? Inscription </h6>
                                    </div>




                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-footer></app-footer> -->
<!-- <div class="popup">
    <div class="popup-content">
        <div style="float: right" (click)="closePopup()">
            x
        </div>
        <div>
            <h3>Modifier Demande </h3>
            <form style="display: flex">
                <div class="form-section">
                    <div class="grid-container">
                        <div class="grid-item">
                            <input type="date" [value]="demande.demande.date_arrive" id="email" placeholder="Prénom"
                                name="email" required />
                        </div>
                        <div class="grid-item">
                            <input type="date" id="email" [value]="demande.demande.date_depart" placeholder="Nom"
                                name="email" required />
                        </div>
                        <div class="grid-item">
                            <input type="text" id="email" [value]="demande.demande.nombre_enfant"
                                placeholder="Nombre d'adultes" name="email" required />
                        </div>
                        <div class="grid-item">
                            <input type="text" id="email" [value]="demande.demande.chambres"
                                placeholder="Nombre d'enfants" name="email" required />
                        </div>

                    </div>
                    <br />
                    <div class="buttons">
                        <button type="submit" class="button"
                            style="color: white; background-color:rgb(245, 165, 47) ; border-radius: 2rem;justify-content: center;padding: 5px;margin-left: 140px;">
                            <div class="inscrire">Modifier</div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->