<app-first></app-first>
<section class="page-section" id="about" #specificDivId>

    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">raisons pour nous Choisir

            </h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/recherche.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        
                        <h4 class="subheading">Recherche personnalisée</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"> Affinez votre recherche en fonction de critères tels que la Destination, le budget, les équipements souhaités et bien plus encore.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/easy.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        
                        <h4 class="subheading">Facilité d'Utilisation </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"> Une interface conviviale et intuitive vous permet de trouver  
                          la meilleure adresse d'agence pour réserver votre hébergement idéal en quelques clics seulement.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/idee.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                       
                        <h4 class="subheading">Diversité d'Offres </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"> Que vous recherchiez un hôtel de luxe, une maison d'hôtes pittoresque ou un logement économique, notre plateforme vous aide a trouver  une gamme diversifiée d'options</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="./assets/img/tmp.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        
                        <h4 class="subheading">Gain de Temps  </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">évitant les longues heures de recherche fastidieuse! nous prenons en charge la recherche pour vous,</p></div>
                </div>
            
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"> <br><br>
                    
                        Votre satisfaction  
                        <br />
                        est notre 
                        <br />
                        priorité absolue !
                   
                </div>
            </li>
        </ul>
    </div>
</section>
<app-footer></app-footer>
