<app-first></app-first>
<section class="page-section" id="services" #specificDivId>
    <div class="container">
        <div class="text-center">
           <B> <h2 >Services</h2></B> 
        </div>
        <br>
        <div class="row text-center">
            <div class="a">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Exploration facilitée</h4>
                <p class="text-muted"> -Découvrez notre service de recherche automatique d'hôtels, maisons d'hôtes et excursions en Tunisie:<br>
                    * Cherchons pour vous des hôtels , des maisons d'hotes et des excursions selon vos critères.<br>
                   *Des milliers d'offres à découvrir.<br>
                   *Adresses des différentes agences sur toute la Tunisie.
                </p>
            </div>
            </div>
        
        </div>
    </div>
</section>
<app-footer></app-footer>